<li class="nav-item">
    <a class="nav-link" href="/api/will">Will Trading System</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/servicos">Serviços</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/will-dashboard">Dashboard Will</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/diagnostico-holografico">Diagnóstico Holográfico</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/mapa-dependencias">Mapa de Dependências</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/configuracoes">Configurações</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/metricas">Métricas</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/alertas">Alertas</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/incidentes">Incidentes</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/relatorios">Relatórios</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/documentacao">Documentação</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/analise-preditiva">Análise Preditiva</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/visualizacao-holografica">Visualização Holográfica</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/integracoes">Integrações</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/logs">Logs</a>
</li> 